/* General */
@font-face {
  font-family: myFont;
  src: url(../font/ReallyFree-ALwl7.ttf);
}

body {
  font-family: myFont;
  text-align: center;
  color: white;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Container */
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}

/* Hover Move Up Effect */
.hover-move-up {
  transition: .3s;
}

.hover-move-up:hover {
  transform: translate3d(0, -8px, 0);
}

/* Body Background Image */
.body-back {
  position: absolute;
  z-index: -1;
  top: 35px;
  left: 0;
  width: 100%;
}

/* Header */
.header {
  background-color: white;
}

.navmenu {
  width: 300px;
  height: 60px;
  margin: auto;
}

.logo {
  width: 130px;
  height: auto;
}

.nav-icon {
  width: 30px;
  height: auto;
  margin-left: 5px;
}

/* Main */
.main {
  padding-top: 74.5vw;
  font-size: 17px;
  line-height: 1.2;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid rgba(103, 162, 3, 0.8);
  border-radius: 1vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.sup-1 {
  font-size: 1.4vw;
  top: -2.1vw;
}

.sup-2 {
  font-size: 0.9vw;
  top: -1.9vw;
}

.text-1 {
  width: 66.1vw;
  height: 16.6vw;
}

.text-2 {
  width: 58.4vw;
  height: 17.8vw;
  margin-top: 31vw;
}

.globe {
  position: relative;
  right: 4.2vw;
  width: 48vw;
  height: auto;
  margin-top: 4.3vw;
}

.text-3 {
  width: 44vw;
  height: 9.8vw;
  margin-top: 5.4vw;
}

.kess-box {
  position: relative;
  left: 1.3vw;
  width: 36.6vw;
  margin-top: 4.7vw;
}

.text-4 {
  width: 55.8vw;
  height: 16.6vw;
  margin-top: 3.5vw;
}

.kess-board {
  position: relative;
  margin-top: 5vw;
}

.kess-board-img {
  width: 51.3vw;
  height: auto;
}

.kess-board-text {
  position: absolute;
  top: 6.8vw;
  right: 3.6vw;
}

.countdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46.6vw;
  height: 32.4vw;
  margin: 5.1vw auto 0;
  border: 2px solid rgba(103, 162, 3, 0.8);
  border-radius: 1vw;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.time-number {
  margin-top: 2vw;
}

.number {
  display: inline-block;
  background-image: url("../img/blue-circle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 8.9vw;
  height: 8.9vw;
  border-radius: 50%;
  font-size: 9vw;
  line-height: 0.85;
}

.hyphen {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 1.05vw;
}

.time-text {
  width: 31vw;
  margin-left: 2vw;
  margin-bottom: 1.6vw;
  font-size: 16px;
}

.green-btn {
  width: 32vw;
  height: auto;
  margin-top: 3.4vw;
}

.green-text {
  margin-top: 0.4vw;
  font-size: 16px;
  line-height: 1.25;
  color: lightgreen;
}

/* Footer */
.footer {
  font-size: 17px;
  line-height: 1.2;
}

.address {
  margin: 7.8vw 0 2.3vw;
}

.link {
  margin: 0;
  color: white;
  transition: 0.3s;
}

.link:hover {
  text-decoration: none;
  color: grey;
}

.vertical-bar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
}

.email {
  margin: 1.2vw 0;
}

@media only screen and (min-width: 376px) {
  .body-back {
    top: 0;
  }

  .navmenu {
    width: 66vw;
    height: 7.9vw;
  }

  .logo {
    width: 23.84vw;
  }

  .nav-icon {
    width: 5.58vw;
    margin-left: 1.84vw;
  }

  .main {
    font-size: 5vw;
  }

  .text {
    border-color: rgba(103, 162, 3, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .countdown-box {
    border-color: rgba(103, 162, 3, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .time-text {
    font-size: 3.3vw;
  }

  .green-btn {
    width: 22.8vw;
  }

  .green-text {
    font-size: 4.6vw;
  }

  .footer {
    font-size: 4vw;
  }

  .link {
    margin: 1vw;
  }

  .email {
    margin: 1.2vw 0 5.1vw;
  }
}